.splide__slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  min-width: 100%;
  pointer-events: none;
}

.splide__slide.is-active {
  opacity: 1;
}

.popup-wrapper {
  display: none;
}

.splide__slide.is-active {
  position: relative;
  pointer-events: auto;
}

.is--active {
  opacity: 1;
  pointer-events: auto;
}

.is--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.error {
  border: 2px solid red !important;
}
.valid {
  border: 2px solid green !important;
}

/*default classes*/
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Snippet gets rid of top margin on first element in any rich text*/
.w-richtext > :first-child {
  margin-top: 0;
}
/* Snippet gets rid of bottom margin on last element in any rich text*/
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0;
}
/* Snippet makes all link elements listed below to inherit color from their parent */
a,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
}
/*Reset selects, buttons, and links styles*/
.w-input,
.w-select,
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
/* All screens reseters  */
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.m-0 {
  margin: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.p-0 {
  padding: 0;
}
/* LG reseters */
@media screen and (max-width: 1920px) {
  .lg-mt-0 {
    margin-top: 0;
  }
  .lg-mb-0 {
    margin-bottom: 0;
  }
  .lg-ml-0 {
    margin-left: 0;
  }
  .lg-mr-0 {
    margin-right: 0;
  }
  .lg-m-0 {
    margin: 0;
  }
  .lg-pt-0 {
    padding-top: 0;
  }
  .lg-pb-0 {
    padding-bottom: 0;
  }
  .lg-pl-0 {
    padding-left: 0;
  }
  .lg-pr-0 {
    padding-right: 0;
  }
  .lg-p-0 {
    padding: 0;
  }
}
/* MD reseters */
@media screen and (max-width: 991px) {
  .md-mt-0 {
    margin-top: 0;
  }
  .md-mb-0 {
    margin-bottom: 0;
  }
  .md-ml-0 {
    margin-left: 0;
  }
  .md-mr-0 {
    margin-right: 0;
  }
  .md-m-0 {
    margin: 0;
  }
  .md-pt-0 {
    padding-top: 0;
  }
  .md-pb-0 {
    padding-bottom: 0;
  }
  .md-pl-0 {
    padding-left: 0;
  }
  .md-pr-0 {
    padding-right: 0;
  }
  .md-p-0 {
    padding: 0;
  }
}
/* SM reseters */
@media screen and (max-width: 768px) {
  .sm-mt-0 {
    margin-top: 0;
  }
  .sm-mb-0 {
    margin-bottom: 0;
  }
  .sm-ml-0 {
    margin-left: 0;
  }
  .sm-mr-0 {
    margin-right: 0;
  }
  .sm-m-0 {
    margin: 0;
  }
  .sm-pt-0 {
    padding-top: 0;
  }
  .sm-pb-0 {
    padding-bottom: 0;
  }
  .sm-pl-0 {
    padding-left: 0;
  }
  .sm-pr-0 {
    padding-right: 0;
  }
  .sm-p-0 {
    padding: 0;
  }
}
/* XS reseters */
@media screen and (max-width: 480px) {
  .xs-mt-0 {
    margin-top: 0;
  }
  .xs-mb-0 {
    margin-bottom: 0;
  }
  .xs-ml-0 {
    margin-left: 0;
  }
  .xs-mr-0 {
    margin-right: 0;
  }
  .xs-m-0 {
    margin: 0;
  }
  .xs-pt-0 {
    padding-top: 0;
  }
  .xs-pb-0 {
    padding-bottom: 0;
  }
  .xs-pl-0 {
    padding-left: 0;
  }
  .xs-pr-0 {
    padding-right: 0;
  }
  .xs-p-0 {
    padding: 0;
  }
}
.button-primary,
.button-secondary,
.button-tertiary {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.button-primary {
  background-color: var(--button-primary--buttonbackground);
  color: var(--button-primary--buttontext);
  border: 1px solid var(--button-primary--buttonborder);
}
.button-primary:hover {
  background-color: var(--button-primary--buttonbackgroundhover);
  color: var(--button-primary--buttontexthover);
  border: 1px solid var(--button-primary--buttonborderhover);
}
.button-secondary {
  background-color: var(--button-secondary--buttonbackground);
  color: var(--button-secondary--buttontext);
  border: 1px solid var(--button-secondary--buttonborder);
}
.button-secondary:hover {
  background-color: var(--button-secondary--buttonbackgroundhover);
  color: var(--button-secondary--buttontexthover);
  border: 1px solid var(--button-secondary--buttonborderhover);
}
.button-tertiary {
  background-color: var(--button-tertiary--buttonbackground);
  color: var(--button-tertiary--buttontext);
  border: 1px solid var(--button-tertiary--buttonborder);
}
.button-tertiary:hover {
  background-color: var(--button-tertiary--buttonbackgroundhover);
  color: var(--button-tertiary--buttontexthover);
  border: 1px solid var(--button-tertiary--buttonborderhover);
}
.hover-underline-lr,
.hover-underline-rl,
.hover-underline-cs,
.hover-underline-sc {
  position: relative;
}
/* underline from left to right */
.hover-underline-lr::after {
  content: "";
  background-color: var(--links--underline-color);
  position: absolute;
  pointer-events: none;
  height: 1.2px;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hover-underline-lr:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
/* underline from right to left */
.hover-underline-rl::after {
  content: "";
  background-color: var(--links--underline-color);
  position: absolute;
  pointer-events: none;
  height: 1.2px;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hover-underline-rl:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}
/* underline from center to sides */
.hover-underline-cs::after {
  content: "";
  background-color: var(--links--underline-color);
  position: absolute;
  pointer-events: none;
  height: 1.2px;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hover-underline-cs:hover::after {
  transform-origin: center;
  transform: scaleX(1);
}
/* Weight */
.weight-light {
  font-weight: 300;
}
.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-semibold {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}
.weight-extrabold {
  font-weight: 800;
}
/* text transform */
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/* text align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* text decoration */
.decoration-none {
  text-decoration: none;
}
.decoration-underline {
  text-decoration: underline;
}
.decoration-line-through {
  text-decoration: line-through;
}
h1,
.h1 {
  font-size: var(--typography--h1);
  line-height: var(--typography--lineheight-h1);
}
h2,
.h2 {
  font-size: var(--typography--h2);
  line-height: var(--typography--lineheight-h2);
}
h3,
.h3 {
  font-size: var(--typography--h3);
  line-height: var(--typography--lineheight-h3);
}
h4,
.h4 {
  font-size: var(--typography--h4);
  line-height: var(--typography--lineheight-h4);
}
h5,
.h5 {
  font-size: var(--typography--h5);
  line-height: var(--typography--lineheight-h5);
}
h6,
.h6 {
  font-size: var(--typography--h6);
  line-height: var(--typography--lineheight-h6);
}
.h7 {
  font-size: var(--typography--h7);
  line-height: var(--typography--lineheight-h7);
}
p,
.p-s {
  font-size: var(--typography--p-s);
  line-height: var(--typography--lineheight-p-s);
}
.p-m {
  font-size: var(--typography--p-m);
  line-height: var(--typography--lineheight-p-m);
}
.p-l {
  font-size: var(--typography--p-l);
  line-height: var(--typography--lineheight-p-l);
}
.m-1 {
  margin: var(--paddings--padding-1);
}
.mb-1 {
  margin-bottom: var(--paddings--padding-1);
}
.mt-1 {
  margin-top: var(--paddings--padding-1);
}
.ml-1 {
  margin-left: var(--paddings--padding-1);
}
.mr-1 {
  margin-right: var(--paddings--padding-1);
}
.mx-1 {
  margin-left: var(--paddings--padding-1);
  margin-right: var(--paddings--padding-1);
}
.my-1 {
  margin-top: var(--paddings--padding-1);
  margin-bottom: var(--paddings--padding-1);
}
.p-1 {
  padding: var(--paddings--padding-1);
}
.pb-1 {
  padding-bottom: var(--paddings--padding-1);
}
.pt-1 {
  padding-top: var(--paddings--padding-1);
}
.pl-1 {
  padding-left: var(--paddings--padding-1);
}
.pr-1 {
  padding-right: var(--paddings--padding-1);
}
.px-1 {
  padding-left: var(--paddings--padding-1);
  padding-right: var(--paddings--padding-1);
}
.py-1 {
  padding-top: var(--paddings--padding-1);
  padding-bottom: var(--paddings--padding-1);
}
.m-2 {
  margin: var(--paddings--padding-2);
}
.mb-2 {
  margin-bottom: var(--paddings--padding-2);
}
.mt-2 {
  margin-top: var(--paddings--padding-2);
}
.ml-2 {
  margin-left: var(--paddings--padding-2);
}
.mr-2 {
  margin-right: var(--paddings--padding-2);
}
.mx-2 {
  margin-left: var(--paddings--padding-2);
  margin-right: var(--paddings--padding-2);
}
.my-2 {
  margin-top: var(--paddings--padding-2);
  margin-bottom: var(--paddings--padding-2);
}
.p-2 {
  padding: var(--paddings--padding-2);
}
.pb-2 {
  padding-bottom: var(--paddings--padding-2);
}
.pt-2 {
  padding-top: var(--paddings--padding-2);
}
.pl-2 {
  padding-left: var(--paddings--padding-2);
}
.pr-2 {
  padding-right: var(--paddings--padding-2);
}
.px-2 {
  padding-left: var(--paddings--padding-2);
  padding-right: var(--paddings--padding-2);
}
.py-2 {
  padding-top: var(--paddings--padding-2);
  padding-bottom: var(--paddings--padding-2);
}
.m-3 {
  margin: var(--paddings--padding-3);
}
.mb-3 {
  margin-bottom: var(--paddings--padding-3);
}
.mt-3 {
  margin-top: var(--paddings--padding-3);
}
.ml-3 {
  margin-left: var(--paddings--padding-3);
}
.mr-3 {
  margin-right: var(--paddings--padding-3);
}
.mx-3 {
  margin-left: var(--paddings--padding-3);
  margin-right: var(--paddings--padding-3);
}
.my-3 {
  margin-top: var(--paddings--padding-3);
  margin-bottom: var(--paddings--padding-3);
}
.p-3 {
  padding: var(--paddings--padding-3);
}
.pb-3 {
  padding-bottom: var(--paddings--padding-3);
}
.pt-3 {
  padding-top: var(--paddings--padding-3);
}
.pl-3 {
  padding-left: var(--paddings--padding-3);
}
.pr-3 {
  padding-right: var(--paddings--padding-3);
}
.px-3 {
  padding-left: var(--paddings--padding-3);
  padding-right: var(--paddings--padding-3);
}
.py-3 {
  padding-top: var(--paddings--padding-3);
  padding-bottom: var(--paddings--padding-3);
}
.m-4 {
  margin: var(--paddings--padding-4);
}
.mb-4 {
  margin-bottom: var(--paddings--padding-4);
}
.mt-4 {
  margin-top: var(--paddings--padding-4);
}
.ml-4 {
  margin-left: var(--paddings--padding-4);
}
.mr-4 {
  margin-right: var(--paddings--padding-4);
}
.mx-4 {
  margin-left: var(--paddings--padding-4);
  margin-right: var(--paddings--padding-4);
}
.my-4 {
  margin-top: var(--paddings--padding-4);
  margin-bottom: var(--paddings--padding-4);
}
.p-4 {
  padding: var(--paddings--padding-4);
}
.pb-4 {
  padding-bottom: var(--paddings--padding-4);
}
.pt-4 {
  padding-top: var(--paddings--padding-4);
}
.pl-4 {
  padding-left: var(--paddings--padding-4);
}
.pr-4 {
  padding-right: var(--paddings--padding-4);
}
.px-4 {
  padding-left: var(--paddings--padding-4);
  padding-right: var(--paddings--padding-4);
}
.py-4 {
  padding-top: var(--paddings--padding-4);
  padding-bottom: var(--paddings--padding-4);
}
.m-5 {
  margin: var(--paddings--padding-5);
}
.mb-5 {
  margin-bottom: var(--paddings--padding-5);
}
.mt-5 {
  margin-top: var(--paddings--padding-5);
}
.ml-5 {
  margin-left: var(--paddings--padding-5);
}
.mr-5 {
  margin-right: var(--paddings--padding-5);
}
.mx-5 {
  margin-left: var(--paddings--padding-5);
  margin-right: var(--paddings--padding-5);
}
.my-5 {
  margin-top: var(--paddings--padding-5);
  margin-bottom: var(--paddings--padding-5);
}
.p-5 {
  padding: var(--paddings--padding-5);
}
.pb-5 {
  padding-bottom: var(--paddings--padding-5);
}
.pt-5 {
  padding-top: var(--paddings--padding-5);
}
.pl-5 {
  padding-left: var(--paddings--padding-5);
}
.pr-5 {
  padding-right: var(--paddings--padding-5);
}
.px-5 {
  padding-left: var(--paddings--padding-5);
  padding-right: var(--paddings--padding-5);
}
.py-5 {
  padding-top: var(--paddings--padding-5);
  padding-bottom: var(--paddings--padding-5);
}
.m-6 {
  margin: var(--paddings--padding-6);
}
.mb-6 {
  margin-bottom: var(--paddings--padding-6);
}
.mt-6 {
  margin-top: var(--paddings--padding-6);
}
.ml-6 {
  margin-left: var(--paddings--padding-6);
}
.mr-6 {
  margin-right: var(--paddings--padding-6);
}
.mx-6 {
  margin-left: var(--paddings--padding-6);
  margin-right: var(--paddings--padding-6);
}
.my-6 {
  margin-top: var(--paddings--padding-6);
  margin-bottom: var(--paddings--padding-6);
}
.p-6 {
  padding: var(--paddings--padding-6);
}
.pb-6 {
  padding-bottom: var(--paddings--padding-6);
}
.pt-6 {
  padding-top: var(--paddings--padding-6);
}
.pl-6 {
  padding-left: var(--paddings--padding-6);
}
.pr-6 {
  padding-right: var(--paddings--padding-6);
}
.px-6 {
  padding-left: var(--paddings--padding-6);
  padding-right: var(--paddings--padding-6);
}
.py-6 {
  padding-top: var(--paddings--padding-6);
  padding-bottom: var(--paddings--padding-6);
}
.m-7 {
  margin: var(--paddings--padding-7);
}
.mb-7 {
  margin-bottom: var(--paddings--padding-7);
}
.mt-7 {
  margin-top: var(--paddings--padding-7);
}
.ml-7 {
  margin-left: var(--paddings--padding-7);
}
.mr-7 {
  margin-right: var(--paddings--padding-7);
}
.mx-7 {
  margin-left: var(--paddings--padding-7);
  margin-right: var(--paddings--padding-7);
}
.my-7 {
  margin-top: var(--paddings--padding-7);
  margin-bottom: var(--paddings--padding-7);
}
.p-7 {
  padding: var(--paddings--padding-7);
}
.pb-7 {
  padding-bottom: var(--paddings--padding-7);
}
.pt-7 {
  padding-top: var(--paddings--padding-7);
}
.pl-7 {
  padding-left: var(--paddings--padding-7);
}
.pr-7 {
  padding-right: var(--paddings--padding-7);
}
.px-7 {
  padding-left: var(--paddings--padding-7);
  padding-right: var(--paddings--padding-7);
}
.py-7 {
  padding-top: var(--paddings--padding-7);
  padding-bottom: var(--paddings--padding-7);
}
.m-8 {
  margin: var(--paddings--padding-8);
}
.mb-8 {
  margin-bottom: var(--paddings--padding-8);
}
.mt-8 {
  margin-top: var(--paddings--padding-8);
}
.ml-8 {
  margin-left: var(--paddings--padding-8);
}
.mr-8 {
  margin-right: var(--paddings--padding-8);
}
.mx-8 {
  margin-left: var(--paddings--padding-8);
  margin-right: var(--paddings--padding-8);
}
.my-8 {
  margin-top: var(--paddings--padding-8);
  margin-bottom: var(--paddings--padding-8);
}
.p-8 {
  padding: var(--paddings--padding-8);
}
.pb-8 {
  padding-bottom: var(--paddings--padding-8);
}
.pt-8 {
  padding-top: var(--paddings--padding-8);
}
.pl-8 {
  padding-left: var(--paddings--padding-8);
}
.pr-8 {
  padding-right: var(--paddings--padding-8);
}
.px-8 {
  padding-left: var(--paddings--padding-8);
  padding-right: var(--paddings--padding-8);
}
.py-8 {
  padding-top: var(--paddings--padding-8);
  padding-bottom: var(--paddings--padding-8);
}
.m-9 {
  margin: var(--paddings--padding-9);
}
.mb-9 {
  margin-bottom: var(--paddings--padding-9);
}
.mt-9 {
  margin-top: var(--paddings--padding-9);
}
.ml-9 {
  margin-left: var(--paddings--padding-9);
}
.mr-9 {
  margin-right: var(--paddings--padding-9);
}
.mx-9 {
  margin-left: var(--paddings--padding-9);
  margin-right: var(--paddings--padding-9);
}
.my-9 {
  margin-top: var(--paddings--padding-9);
  margin-bottom: var(--paddings--padding-9);
}
.p-9 {
  padding: var(--paddings--padding-9);
}
.pb-9 {
  padding-bottom: var(--paddings--padding-9);
}
.pt-9 {
  padding-top: var(--paddings--padding-9);
}
.pl-9 {
  padding-left: var(--paddings--padding-9);
}
.pr-9 {
  padding-right: var(--paddings--padding-9);
}
.px-9 {
  padding-left: var(--paddings--padding-9);
  padding-right: var(--paddings--padding-9);
}
.py-9 {
  padding-top: var(--paddings--padding-9);
  padding-bottom: var(--paddings--padding-9);
}
.m-10 {
  margin: var(--paddings--padding-10);
}
.mb-10 {
  margin-bottom: var(--paddings--padding-10);
}
.mt-10 {
  margin-top: var(--paddings--padding-10);
}
.ml-10 {
  margin-left: var(--paddings--padding-10);
}
.mr-10 {
  margin-right: var(--paddings--padding-10);
}
.mx-10 {
  margin-left: var(--paddings--padding-10);
  margin-right: var(--paddings--padding-10);
}
.my-10 {
  margin-top: var(--paddings--padding-10);
  margin-bottom: var(--paddings--padding-10);
}
.p-10 {
  padding: var(--paddings--padding-10);
}
.pb-10 {
  padding-bottom: var(--paddings--padding-10);
}
.pt-10 {
  padding-top: var(--paddings--padding-10);
}
.pl-10 {
  padding-left: var(--paddings--padding-10);
}
.pr-10 {
  padding-right: var(--paddings--padding-10);
}
.px-10 {
  padding-left: var(--paddings--padding-10);
  padding-right: var(--paddings--padding-10);
}
.py-10 {
  padding-top: var(--paddings--padding-10);
  padding-bottom: var(--paddings--padding-10);
}
.m-11 {
  margin: var(--paddings--padding-11);
}
.mb-11 {
  margin-bottom: var(--paddings--padding-11);
}
.mt-11 {
  margin-top: var(--paddings--padding-11);
}
.ml-11 {
  margin-left: var(--paddings--padding-11);
}
.mr-11 {
  margin-right: var(--paddings--padding-11);
}
.mx-11 {
  margin-left: var(--paddings--padding-11);
  margin-right: var(--paddings--padding-11);
}
.my-11 {
  margin-top: var(--paddings--padding-11);
  margin-bottom: var(--paddings--padding-11);
}
.p-11 {
  padding: var(--paddings--padding-11);
}
.pb-11 {
  padding-bottom: var(--paddings--padding-11);
}
.pt-11 {
  padding-top: var(--paddings--padding-11);
}
.pl-11 {
  padding-left: var(--paddings--padding-11);
}
.pr-11 {
  padding-right: var(--paddings--padding-11);
}
.px-11 {
  padding-left: var(--paddings--padding-11);
  padding-right: var(--paddings--padding-11);
}
.py-11 {
  padding-top: var(--paddings--padding-11);
  padding-bottom: var(--paddings--padding-11);
}
.m-12 {
  margin: var(--paddings--padding-12);
}
.mb-12 {
  margin-bottom: var(--paddings--padding-12);
}
.mt-12 {
  margin-top: var(--paddings--padding-12);
}
.ml-12 {
  margin-left: var(--paddings--padding-12);
}
.mr-12 {
  margin-right: var(--paddings--padding-12);
}
.mx-12 {
  margin-left: var(--paddings--padding-12);
  margin-right: var(--paddings--padding-12);
}
.my-12 {
  margin-top: var(--paddings--padding-12);
  margin-bottom: var(--paddings--padding-12);
}
.p-12 {
  padding: var(--paddings--padding-12);
}
.pb-12 {
  padding-bottom: var(--paddings--padding-12);
}
.pt-12 {
  padding-top: var(--paddings--padding-12);
}
.pl-12 {
  padding-left: var(--paddings--padding-12);
}
.pr-12 {
  padding-right: var(--paddings--padding-12);
}
.px-12 {
  padding-left: var(--paddings--padding-12);
  padding-right: var(--paddings--padding-12);
}
.py-12 {
  padding-top: var(--paddings--padding-12);
  padding-bottom: var(--paddings--padding-12);
}
.m-13 {
  margin: var(--paddings--padding-13);
}
.mb-13 {
  margin-bottom: var(--paddings--padding-13);
}
.mt-13 {
  margin-top: var(--paddings--padding-13);
}
.ml-13 {
  margin-left: var(--paddings--padding-13);
}
.mr-13 {
  margin-right: var(--paddings--padding-13);
}
.mx-13 {
  margin-left: var(--paddings--padding-13);
  margin-right: var(--paddings--padding-13);
}
.my-13 {
  margin-top: var(--paddings--padding-13);
  margin-bottom: var(--paddings--padding-13);
}
.p-13 {
  padding: var(--paddings--padding-13);
}
.pb-13 {
  padding-bottom: var(--paddings--padding-13);
}
.pt-13 {
  padding-top: var(--paddings--padding-13);
}
.pl-13 {
  padding-left: var(--paddings--padding-13);
}
.pr-13 {
  padding-right: var(--paddings--padding-13);
}
.px-13 {
  padding-left: var(--paddings--padding-13);
  padding-right: var(--paddings--padding-13);
}
.py-13 {
  padding-top: var(--paddings--padding-13);
  padding-bottom: var(--paddings--padding-13);
}
.m-14 {
  margin: var(--paddings--padding-14);
}
.mb-14 {
  margin-bottom: var(--paddings--padding-14);
}
.mt-14 {
  margin-top: var(--paddings--padding-14);
}
.ml-14 {
  margin-left: var(--paddings--padding-14);
}
.mr-14 {
  margin-right: var(--paddings--padding-14);
}
.mx-14 {
  margin-left: var(--paddings--padding-14);
  margin-right: var(--paddings--padding-14);
}
.my-14 {
  margin-top: var(--paddings--padding-14);
  margin-bottom: var(--paddings--padding-14);
}
.p-14 {
  padding: var(--paddings--padding-14);
}
.pb-14 {
  padding-bottom: var(--paddings--padding-14);
}
.pt-14 {
  padding-top: var(--paddings--padding-14);
}
.pl-14 {
  padding-left: var(--paddings--padding-14);
}
.pr-14 {
  padding-right: var(--paddings--padding-14);
}
.px-14 {
  padding-left: var(--paddings--padding-14);
  padding-right: var(--paddings--padding-14);
}
.py-14 {
  padding-top: var(--paddings--padding-14);
  padding-bottom: var(--paddings--padding-14);
}
.m-15 {
  margin: var(--paddings--padding-15);
}
.mb-15 {
  margin-bottom: var(--paddings--padding-15);
}
.mt-15 {
  margin-top: var(--paddings--padding-15);
}
.ml-15 {
  margin-left: var(--paddings--padding-15);
}
.mr-15 {
  margin-right: var(--paddings--padding-15);
}
.mx-15 {
  margin-left: var(--paddings--padding-15);
  margin-right: var(--paddings--padding-15);
}
.my-15 {
  margin-top: var(--paddings--padding-15);
  margin-bottom: var(--paddings--padding-15);
}
.p-15 {
  padding: var(--paddings--padding-15);
}
.pb-15 {
  padding-bottom: var(--paddings--padding-15);
}
.pt-15 {
  padding-top: var(--paddings--padding-15);
}
.pl-15 {
  padding-left: var(--paddings--padding-15);
}
.pr-15 {
  padding-right: var(--paddings--padding-15);
}
.px-15 {
  padding-left: var(--paddings--padding-15);
  padding-right: var(--paddings--padding-15);
}
.py-15 {
  padding-top: var(--paddings--padding-15);
  padding-bottom: var(--paddings--padding-15);
}

.popup-background.is-active,
.popup-wrapper.is-active {
  display: block;
}
:root {
  --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>: #0c0c0d;
  --brand--300\<deleted\|variable-8d3989e2-8668-8cb3-b32e-1bca0e70ca7b\>: #d9d9d9;
  --4px-0-25rem: 0.25rem;
  --8px-0-5rem: 0.5rem;
  --system--100\<deleted\|variable-fd9dfbc5-5d4f-bce7-d59f-3bd7825dd690\>: #f3f3f3;
  --24px-1-5rem: 1.5rem;
  --16px-1-0rem: 1rem;
  --6px-0-375rem: 0.375rem;
  --white--1000\<deleted\|variable-83b9829b-e4b7-14bd-e043-c468771cc428\>: #fff;
  --black--100\<deleted\|variable-67bf4861-d8c1-a78d-4ea7-ac193b86d79b\>: #0c0c0d0d;
  --56px-3-5rem: 3.5rem;
  --32px-2-0rem: 2rem;
  --gray--400\<deleted\|variable-08f42d29-df06-9b75-1650-92e62c14631b\>: #b3b3b3;
  --12px-0-75rem: 0.75rem;
  --system--200\<deleted\|variable-f675d0e5-daf0-41d6-f084-1ec445535749\>: #e3e3e3;
  --2px-0-125rem: 0.125rem;
  --10px-0-625rem: 0.625rem;
  --system--1000\<deleted\|variable-1f75dc75-29ab-1a99-d382-cc3093b2c8a1\>: #242424;
  --typography--p-s-t\<deleted\|variable-d5d009fb-186c-c67d-4c79-27a42df39f54\>: var(
    --16px-1-0rem
  );
  --typography--lineheight-p-s-t\<deleted\|variable-aacc9e89-308d-6d19-3c39-e64980f375ce\>: var(
    --22px-1-375rem
  );
  --typography--p-s-m\<deleted\|variable-a30b2a9a-da9d-0031-da5b-1e5a078c4b66\>: var(
    --16px-1-0rem
  );
  --typography--lineheight-p-s-m\<deleted\|variable-ff046529-69bc-51d6-c289-2d5c9b303e61\>: var(
    --22px-1-375rem
  );
  --typography--p-m-t\<deleted\|variable-e77720d4-9d64-b291-e779-c1152dc767d9\>: var(
    --18px-1-125rem
  );
  --typography--lineheight-p-m-t\<deleted\|variable-d1326a46-e19d-9210-187b-76e6d062cf7a\>: var(
    --24px-1-5rem
  );
  --typography--p-m-m\<deleted\|variable-f46676d2-5001-f9cc-8e4e-3598b4add083\>: var(
    --18px-1-125rem
  );
  --typography--p-l-t\<deleted\|variable-4848d8fd-d13d-b420-0166-b414e7566590\>: var(
    --20px-1-25rem
  );
  --typography--lineheight-p-l-t\<deleted\|variable-03de1394-6904-7065-9d6c-098764ee0ee6\>: var(
    --28px-1-75rem
  );
  --typography--p-l-m\<deleted\|variable-c555ad6e-6aab-7ac1-77a1-252ffe07ad56\>: var(
    --16px-1-0rem
  );
  --typography--lineheight-p-l-m\<deleted\|variable-d79e3f5e-e9c1-2ddf-001b-632cdb146091\>: var(
    --24px-1-5rem
  );
  --black--1: white;
  --22px-1-375rem: 1.375rem;
  --14px-0-875rem: 0.875rem;
  --18px-1-125rem: 1.125rem;
  --20px-1-25rem: 1.25rem;
  --28px-1-75rem: 1.75rem;
  --36px-2-25rem: 2.25rem;
  --40px-2-5rem: 2.5rem;
  --44px-2-75rem: 2.75rem;
  --48px-3-0rem: 3rem;
  --52px-3-25rem: 3.25rem;
  --60px-3-75rem: 3.75rem;
  --64px-4-0rem: 4rem;
  --68px-4-25rem: 4.25rem;
  --72px-4-5rem: 4.5rem;
  --74px-4-625rem: 4.625rem;
  --76px-4-75rem: 4.75rem;
  --80px-5-0rem: 5rem;
  --84px-5-25rem: 5.25rem;
  --88px-5-5rem: 5.5rem;
  --92px-5-75rem: 5.75rem;
  --96px-6-0rem: 6rem;
  --100px-6-25rem: 6.25rem;
  --104px-6-5rem: 6.5rem;
  --108px-6-75rem: 6.75rem;
  --112px-7-0rem: 7rem;
  --116px-7-25rem: 7.25rem;
  --120px-7-5rem: 7.5rem;
  --124px-7-75rem: 7.75rem;
  --128px-8rem: 8rem;
  --132px-8-25rem: 8.25rem;
  --136px-8-5rem: 8.5rem;
  --140px-8-75rem: 8.75rem;
  --144px-9rem: 9rem;
  --148px-9-25rem: 9.25rem;
  --152px-9-5rem: 9.5rem;
  --156px-9-75rem: 9.75rem;
  --160px-10rem: 10rem;
  --168px-10-5rem: 10.5rem;
  --176px-11rem: 11rem;
  --184px-11-5rem: 11.5rem;
  --192px-12rem: 12rem;
  --200px-12-5rem: 12.5rem;
  --208px-13rem: 13rem;
  --216px-13-5rem: 13.5rem;
  --224px-14rem: 14rem;
  --232px-14-5rem: 14.5rem;
  --240px-15rem: 15rem;
  --248px-15-5rem: 15.5rem;
  --256px-16rem: 16rem;
  --264px-16-5rem: 16.5rem;
  --272px-17rem: 17rem;
  --280px-17-5rem: 17.5rem;
  --288px-18rem: 18rem;
  --296px-18-5rem: 18.5rem;
  --304px-19rem: 19rem;
  --312px-19-5rem: 19.5rem;
  --320px-20rem: 20rem;
  --336px-21rem: 21rem;
  --352px-22rem: 22rem;
  --368px-23rem: 23rem;
  --384px-24rem: 24rem;
  --400px-25rem: 25rem;
  --416px-26rem: 26rem;
  --432px-27rem: 27rem;
  --448px-28rem: 28rem;
  --464px-29rem: 29rem;
  --480px-30rem: 30rem;
  --screen-xl: 1920px;
  --screen-md: 991px;
  --screen-sm: 768px;
  --screen-xs: 480px;
  --screen-lg: 1440px;
  --paddings--padding-1: var(--4px-0-25rem);
  --paddings--padding-2: var(--8px-0-5rem);
  --paddings--padding-3: var(--16px-1-0rem);
  --paddings--padding-4: var(--24px-1-5rem);
  --paddings--padding-5: var(--32px-2-0rem);
  --paddings--padding-6: var(--40px-2-5rem);
  --paddings--padding-7: var(--48px-3-0rem);
  --paddings--padding-8: var(--56px-3-5rem);
  --paddings--padding-9: var(--64px-4-0rem);
  --paddings--padding-10: var(--72px-4-5rem);
  --paddings--padding-11: var(--80px-5-0rem);
  --paddings--padding-12: var(--120px-7-5rem);
  --paddings--padding-13: var(--160px-10rem);
  --paddings--padding-14: var(--200px-12-5rem);
  --paddings--padding-15: var(--240px-15rem);
  --typography--h1: var(--80px-5-0rem);
  --typography--h2: var(--72px-4-5rem);
  --typography--h3: var(--56px-3-5rem);
  --typography--h4: var(--40px-2-5rem);
  --typography--h5: var(--32px-2-0rem);
  --typography--h6: var(--24px-1-5rem);
  --typography--h7: var(--18px-1-125rem);
  --typography--p-l: var(--20px-1-25rem);
  --typography--p-m: var(--18px-1-125rem);
  --typography--p-s: var(--16px-1-0rem);
  --typography--lineheight-h1: var(--74px-4-625rem);
  --typography--lineheight-h2: var(--72px-4-5rem);
  --typography--lineheight-h3: var(--56px-3-5rem);
  --typography--lineheight-h4: var(--44px-2-75rem);
  --typography--lineheight-h5: var(--32px-2-0rem);
  --typography--lineheight-h6: var(--28px-1-75rem);
  --typography--lineheight-h7: var(--24px-1-5rem);
  --typography--lineheight-p-l: var(--28px-1-75rem);
  --typography--lineheight-p-m: var(--24px-1-5rem);
  --typography--lineheight-p-s: var(--22px-1-375rem);
  --button-primary--buttonbackground: #146d6c;
  --button-primary--buttontext: whitesmoke;
  --button-primary--buttonborder: #146d6c;
  --button-primary--buttonbackgroundhover: #014140;
  --button-primary--buttontexthover: whitesmoke;
  --button-primary--buttonborderhover: #146d6c;
  --button-secondary--buttonbackground: #e3e3e3;
  --button-secondary--buttontext: #1e1e1e;
  --button-secondary--buttonborder: #767676;
  --button-secondary--buttonbackgroundhover: #cdcdcd;
  --button-secondary--buttontexthover: #1e1e1e;
  --button-secondary--buttonborderhover: #767676;
  --button-tertiary--buttonbackground: #fff0;
  --button-tertiary--buttontext: #303030;
  --button-tertiary--buttonborder: #fff0;
  --button-tertiary--buttonbackgroundhover: #fff0;
  --button-tertiary--buttontexthover: #303030;
  --button-tertiary--buttonborderhover: #d9d9d9;
  --links--text-color: var(
    --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>
  );
  --links--underline-color: var(
    --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>
  );
  --links--color: white;
  --black--5: black;
  --black--4: #7a7a7a;
  --black--3: #a6a6a6;
  --black--2: #e1e1e1;
  --yellow--5: #403911;
  --blue--5: #003642;
  --blue--4: #0082a0;
  --blue--3: #00b4dc;
  --blue--2: #66d2ea;
  --blue--1: #ccf0f8;
  --purple--5: #460095;
  --purple--4: #945ae3;
  --purple--3: #c09dff;
  --purple--2: #d7c0ff;
  --purple--1: #eee2ff;
  --red--5: #4c2011;
  --green--5: #0a3922;
  --green--4: #189258;
  --green--3: #1dbf73;
  --green--2: #77d9ab;
  --green--1: #d2f2e3;
  --pink--5: #47264c;
  --pink--4: #ab5cb6;
  --pink--3: #eb80fd;
  --pink--2: #f3b3fe;
  --pink--1: #fce6ff;
  --red--4: #bc522f;
  --red--3: #ff643b;
  --red--2: #fea689;
  --red--1: #ffe1d8;
  --yellow--4: #99872a;
  --yellow--3: #d8c833;
  --yellow--2: #e7d88a;
  --yellow--1: #f7f2d8;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(
    --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>
  );
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.spacing-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.bg--brand-300 {
  background-color: var(
    --brand--300\<deleted\|variable-8d3989e2-8668-8cb3-b32e-1bca0e70ca7b\>
  );
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
}

.section {
  position: relative;
}

.min-h-full {
  min-height: 100svh;
}

.min-h-full.is--home-hero {
  position: relative;
  overflow: hidden;
}

.style-guide__home-hero {
  aspect-ratio: 1;
  background-color: #005fff;
  border-radius: 100%;
  width: 50%;
}

.style-guide__home-hero.is--yellow {
  aspect-ratio: 1;
  background-color: #ffe50073;
  position: absolute;
  inset: auto 0% 0% auto;
  transform: translate(25%, 25%);
  box-shadow: 20px 20px 200px 200px #ffe50073;
}

.style-guide__home-hero.is--blue {
  background-color: #005fff80;
  position: absolute;
  inset: 0% auto auto 0%;
  transform: translate(-25%, -25%);
  box-shadow: 20px 20px 200px 200px #005fff80;
}

.style-guide__hero-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.style-guide__hero-text {
  position: relative;
}

.style-guide__hero-badge {
  padding: var(--4px-0-25rem) var(--8px-0-5rem);
  border-radius: var(--4px-0-25rem);
  color: var(
    --system--100\<deleted\|variable-fd9dfbc5-5d4f-bce7-d59f-3bd7825dd690\>
  );
  background-color: #005fff;
  font-weight: 300;
  position: absolute;
  inset: 0% -1em auto auto;
  transform: translate(100%);
}

.style-guide__navigation {
  z-index: 5;
  grid-column-gap: var(--24px-1-5rem);
  grid-row-gap: var(--24px-1-5rem);
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.style-guide__navigation-link {
  font-size: 0.875rem;
}

.style-guide__navigation-button {
  padding: var(--8px-0-5rem) var(--16px-1-0rem);
  border-radius: var(--6px-0-375rem);
  color: var(
    --white--1000\<deleted\|variable-83b9829b-e4b7-14bd-e043-c468771cc428\>
  );
  background-color: #015fff;
  font-size: 0.875rem;
}

.style-guide__docs-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 0.4fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.style-guide__docs-sidebar {
  border-radius: var(--8px-0-5rem);
  background-color: var(
    --black--100\<deleted\|variable-67bf4861-d8c1-a78d-4ea7-ac193b86d79b\>
  );
  flex-flow: column;
  font-size: 0.875rem;
  display: flex;
  position: sticky;
  top: 1rem;
}

.style-guide__docs-sidebar-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.style-guide__block {
  padding: var(--56px-3-5rem) var(--32px-2-0rem);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  display: flex;
}

.style-guide__block.is--secondary {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.style-guide__list {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  display: flex;
}

.style-guide__list.hidden {
  display: none;
}

.style-guide__list-item {
  padding-bottom: var(--8px-0-5rem);
  grid-column-gap: var(--6px-0-375rem);
  grid-row-gap: var(--6px-0-375rem);
  border-bottom: 1px solid
    var(--system--100\<deleted\|variable-fd9dfbc5-5d4f-bce7-d59f-3bd7825dd690\>);
  flex-flow: column;
  display: flex;
}

.style-guide__list-item.is--buttons {
  justify-content: flex-start;
  align-items: flex-start;
}

.style-guide__list-item-description {
  color: var(
    --gray--400\<deleted\|variable-08f42d29-df06-9b75-1650-92e62c14631b\>
  );
  font-size: 0.75rem;
  font-weight: 300;
}

.text-size-1 {
  font-size: 1rem;
  line-height: 100%;
}

.text-size-1-25 {
  font-size: 1.25rem;
  line-height: 100%;
}

.text-size-0-875 {
  font-size: 0.875rem;
  line-height: 100%;
}

.text-size-0-875.field-description {
  margin-bottom: var(--12px-0-75rem);
  max-width: 40rem;
}

.text-size-0-75 {
  font-size: 0.75rem;
  line-height: 100%;
}

.text-size-0-75.error-message {
  color: #d30104;
  display: none;
}

.text-size-1-125 {
  font-size: 1.125rem;
  line-height: 100%;
}

.text-size-1-375 {
  font-size: 1.375rem;
  line-height: 100%;
}

.text-size-1-5 {
  font-size: 1.5rem;
  line-height: 100%;
}

.text-size-0-625 {
  font-size: 0.625rem;
  line-height: 100%;
}

.style-guide__grid {
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.style-guide__grid.is--spacing {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.style-guide__spacing-block {
  border-radius: var(--4px-0-25rem);
  background-color: var(
    --system--200\<deleted\|variable-f675d0e5-daf0-41d6-f084-1ec445535749\>
  );
}

.style-guide__spacing-block._1 {
  height: var(--2px-0-125rem);
}

.style-guide__spacing-block._2 {
  height: var(--4px-0-25rem);
}

.style-guide__spacing-block._3 {
  height: var(--6px-0-375rem);
}

.style-guide__spacing-block._4 {
  height: var(--8px-0-5rem);
}

.style-guide__spacing-block._5,
.style-guide__spacing-block._6 {
  height: var(--10px-0-625rem);
}

.style-guide__spacing-block._7 {
  height: var(--12px-0-75rem);
}

.style-guide__spacing-block._8 {
  height: var(--16px-1-0rem);
}

.text-size-1-75 {
  font-size: 1.75rem;
  line-height: 100%;
}

.text-size-2 {
  font-size: 2rem;
  line-height: 100%;
}

.erte {
  background-color: var(
    --system--1000\<deleted\|variable-1f75dc75-29ab-1a99-d382-cc3093b2c8a1\>
  );
}

.button-text__small {
  font-size: 0.625rem;
  line-height: 100%;
}

.button-text__medium {
  font-size: 0.875rem;
  line-height: 100%;
}

.button-text__large {
  font-size: 1rem;
  line-height: 100%;
}

.button-small {
  padding: var(--4px-0-25rem) var(--8px-0-5rem);
  font-size: 0.625rem;
}

.button-medium {
  padding: var(--6px-0-375rem) var(--12px-0-75rem);
  font-size: 0.75rem;
}

.button-large {
  padding: var(--8px-0-5rem) var(--16px-1-0rem);
  font-size: 1rem;
}

.icon-1-1 {
  width: var(--16px-1-0rem);
  height: var(--16px-1-0rem);
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-small {
  font-size: 0.75rem;
}

.link-medium {
  font-size: 1rem;
}

.link-large {
  font-size: 1.5rem;
  line-height: 100%;
}

.text-medium.arrow-text {
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  grid-column-gap: var(--16px-1-0rem);
  grid-row-gap: var(--16px-1-0rem);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
}

.popup-wrapper {
  z-index: 99;
  background-color: var(--black--1);
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  position: absolute;
  inset: 5% 0%;
}

.form-field-wrapper {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.popup-background {
  z-index: 10;
  background-color: #0006;
  width: 100%;
  height: 100svh;
  display: none;
  position: absolute;
  inset: 0%;
}

.form-block {
  height: 100%;
  margin-bottom: 0;
}

.form-wrapper,
.form-wr {
  height: 100%;
}

.splide {
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
  position: relative;
}

.splide__track {
  z-index: 100;
  position: relative;
  overflow-y: auto;
}

.splide__list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.splide__slide {
  background-color: var(--black--1);
  flex: none;
}

.form-content-wr {
  padding-bottom: var(--32px-2-0rem);
  grid-column-gap: var(--12px-0-75rem);
  grid-row-gap: var(--12px-0-75rem);
  flex-flow: column;
  display: flex;
}

.splide__arrows {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.splide__arrow {
  padding: var(--8px-0-5rem) var(--16px-1-0rem) var(--6px-0-375rem);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-checkbox-wrapper,
.radio-button-field {
  padding-left: var(--22px-1-375rem);
}

.close-button {
  z-index: 101;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: absolute;
  inset: 1rem 1rem auto auto;
}

.close-icon {
  width: 100%;
  height: 100%;
}

.form-field-2-col {
  grid-column-gap: var(--8px-0-5rem);
  grid-row-gap: var(--8px-0-5rem);
  width: 100%;
  display: flex;
}

@media screen and (max-width: 991px) {
  .text-small {
    font-size: var(
      --typography--p-s-t\<deleted\|variable-d5d009fb-186c-c67d-4c79-27a42df39f54\>
    );
    line-height: var(
      --typography--lineheight-p-s-t\<deleted\|variable-aacc9e89-308d-6d19-3c39-e64980f375ce\>
    );
  }

  .text-medium {
    font-size: var(
      --typography--p-m-t\<deleted\|variable-e77720d4-9d64-b291-e779-c1152dc767d9\>
    );
    line-height: var(
      --typography--lineheight-p-m-t\<deleted\|variable-d1326a46-e19d-9210-187b-76e6d062cf7a\>
    );
  }

  .text-large {
    font-size: var(
      --typography--p-l-t\<deleted\|variable-4848d8fd-d13d-b420-0166-b414e7566590\>
    );
    line-height: var(
      --typography--lineheight-p-l-t\<deleted\|variable-03de1394-6904-7065-9d6c-098764ee0ee6\>
    );
  }
}

@media screen and (max-width: 767px) {
  body {
    --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>: #0c0c0d;
    --brand--300\<deleted\|variable-8d3989e2-8668-8cb3-b32e-1bca0e70ca7b\>: #d9d9d9;
    --4px-0-25rem: 0.25rem;
    --8px-0-5rem: 0.5rem;
    --system--100\<deleted\|variable-fd9dfbc5-5d4f-bce7-d59f-3bd7825dd690\>: #f3f3f3;
    --24px-1-5rem: 1.5rem;
    --16px-1-0rem: 1rem;
    --6px-0-375rem: 0.375rem;
    --white--1000\<deleted\|variable-83b9829b-e4b7-14bd-e043-c468771cc428\>: #fff;
    --black--100\<deleted\|variable-67bf4861-d8c1-a78d-4ea7-ac193b86d79b\>: #0c0c0d0d;
    --56px-3-5rem: 3.5rem;
    --32px-2-0rem: 2rem;
    --gray--400\<deleted\|variable-08f42d29-df06-9b75-1650-92e62c14631b\>: #b3b3b3;
    --12px-0-75rem: 0.75rem;
    --system--200\<deleted\|variable-f675d0e5-daf0-41d6-f084-1ec445535749\>: #e3e3e3;
    --2px-0-125rem: 0.125rem;
    --10px-0-625rem: 0.625rem;
    --system--1000\<deleted\|variable-1f75dc75-29ab-1a99-d382-cc3093b2c8a1\>: #242424;
    --typography--p-s-t\<deleted\|variable-d5d009fb-186c-c67d-4c79-27a42df39f54\>: var(
      --16px-1-0rem
    );
    --typography--lineheight-p-s-t\<deleted\|variable-aacc9e89-308d-6d19-3c39-e64980f375ce\>: var(
      --22px-1-375rem
    );
    --typography--p-s-m\<deleted\|variable-a30b2a9a-da9d-0031-da5b-1e5a078c4b66\>: var(
      --16px-1-0rem
    );
    --typography--lineheight-p-s-m\<deleted\|variable-ff046529-69bc-51d6-c289-2d5c9b303e61\>: var(
      --22px-1-375rem
    );
    --typography--p-m-t\<deleted\|variable-e77720d4-9d64-b291-e779-c1152dc767d9\>: var(
      --18px-1-125rem
    );
    --typography--lineheight-p-m-t\<deleted\|variable-d1326a46-e19d-9210-187b-76e6d062cf7a\>: var(
      --24px-1-5rem
    );
    --typography--p-m-m\<deleted\|variable-f46676d2-5001-f9cc-8e4e-3598b4add083\>: var(
      --18px-1-125rem
    );
    --typography--p-l-t\<deleted\|variable-4848d8fd-d13d-b420-0166-b414e7566590\>: var(
      --20px-1-25rem
    );
    --typography--lineheight-p-l-t\<deleted\|variable-03de1394-6904-7065-9d6c-098764ee0ee6\>: var(
      --28px-1-75rem
    );
    --typography--p-l-m\<deleted\|variable-c555ad6e-6aab-7ac1-77a1-252ffe07ad56\>: var(
      --16px-1-0rem
    );
    --typography--lineheight-p-l-m\<deleted\|variable-d79e3f5e-e9c1-2ddf-001b-632cdb146091\>: var(
      --24px-1-5rem
    );
    --22px-1-375rem: 1.375rem;
    --14px-0-875rem: 0.875rem;
    --18px-1-125rem: 1.125rem;
    --20px-1-25rem: 1.25rem;
    --28px-1-75rem: 1.75rem;
    --36px-2-25rem: 2.25rem;
    --40px-2-5rem: 2.5rem;
    --44px-2-75rem: 2.75rem;
    --48px-3-0rem: 3rem;
    --52px-3-25rem: 3.25rem;
    --60px-3-75rem: 3.75rem;
    --64px-4-0rem: 4rem;
    --68px-4-25rem: 4.25rem;
    --72px-4-5rem: 4.5rem;
    --74px-4-625rem: 4.625rem;
    --76px-4-75rem: 4.75rem;
    --80px-5-0rem: 5rem;
    --84px-5-25rem: 5.25rem;
    --88px-5-5rem: 5.5rem;
    --92px-5-75rem: 5.75rem;
    --96px-6-0rem: 6rem;
    --100px-6-25rem: 6.25rem;
    --104px-6-5rem: 6.5rem;
    --108px-6-75rem: 6.75rem;
    --112px-7-0rem: 7rem;
    --116px-7-25rem: 7.25rem;
    --120px-7-5rem: 7.5rem;
    --124px-7-75rem: 7.75rem;
    --128px-8rem: 8rem;
    --132px-8-25rem: 8.25rem;
    --136px-8-5rem: 8.5rem;
    --140px-8-75rem: 8.75rem;
    --144px-9rem: 9rem;
    --148px-9-25rem: 9.25rem;
    --152px-9-5rem: 9.5rem;
    --156px-9-75rem: 9.75rem;
    --160px-10rem: 10rem;
    --168px-10-5rem: 10.5rem;
    --176px-11rem: 11rem;
    --184px-11-5rem: 11.5rem;
    --192px-12rem: 12rem;
    --200px-12-5rem: 12.5rem;
    --208px-13rem: 13rem;
    --216px-13-5rem: 13.5rem;
    --224px-14rem: 14rem;
    --232px-14-5rem: 14.5rem;
    --240px-15rem: 15rem;
    --248px-15-5rem: 15.5rem;
    --256px-16rem: 16rem;
    --264px-16-5rem: 16.5rem;
    --272px-17rem: 17rem;
    --280px-17-5rem: 17.5rem;
    --288px-18rem: 18rem;
    --296px-18-5rem: 18.5rem;
    --304px-19rem: 19rem;
    --312px-19-5rem: 19.5rem;
    --320px-20rem: 20rem;
    --336px-21rem: 21rem;
    --352px-22rem: 22rem;
    --368px-23rem: 23rem;
    --384px-24rem: 24rem;
    --400px-25rem: 25rem;
    --416px-26rem: 26rem;
    --432px-27rem: 27rem;
    --448px-28rem: 28rem;
    --464px-29rem: 29rem;
    --480px-30rem: 30rem;
    --screen-xl: 1920px;
    --screen-md: 991px;
    --screen-sm: 768px;
    --screen-xs: 480px;
    --screen-lg: 1440px;
    --paddings--padding-1: var(--4px-0-25rem);
    --paddings--padding-2: var(--8px-0-5rem);
    --paddings--padding-3: var(--16px-1-0rem);
    --paddings--padding-4: var(--24px-1-5rem);
    --paddings--padding-5: var(--32px-2-0rem);
    --paddings--padding-6: var(--40px-2-5rem);
    --paddings--padding-7: var(--48px-3-0rem);
    --paddings--padding-8: var(--56px-3-5rem);
    --paddings--padding-9: var(--64px-4-0rem);
    --paddings--padding-10: var(--72px-4-5rem);
    --paddings--padding-11: var(--80px-5-0rem);
    --paddings--padding-12: var(--120px-7-5rem);
    --paddings--padding-13: var(--160px-10rem);
    --paddings--padding-14: var(--200px-12-5rem);
    --paddings--padding-15: var(--240px-15rem);
    --typography--h1: var(--80px-5-0rem);
    --typography--h2: var(--72px-4-5rem);
    --typography--h3: var(--56px-3-5rem);
    --typography--h4: var(--40px-2-5rem);
    --typography--h5: var(--32px-2-0rem);
    --typography--h6: var(--24px-1-5rem);
    --typography--h7: var(--18px-1-125rem);
    --typography--p-l: var(--20px-1-25rem);
    --typography--p-m: var(--18px-1-125rem);
    --typography--p-s: var(--16px-1-0rem);
    --typography--lineheight-h1: var(--74px-4-625rem);
    --typography--lineheight-h2: var(--72px-4-5rem);
    --typography--lineheight-h3: var(--56px-3-5rem);
    --typography--lineheight-h4: var(--44px-2-75rem);
    --typography--lineheight-h5: var(--32px-2-0rem);
    --typography--lineheight-h6: var(--28px-1-75rem);
    --typography--lineheight-h7: var(--24px-1-5rem);
    --typography--lineheight-p-l: var(--28px-1-75rem);
    --typography--lineheight-p-m: var(--24px-1-5rem);
    --typography--lineheight-p-s: var(--22px-1-375rem);
    --button-primary--buttonbackground: #146d6c;
    --button-primary--buttontext: whitesmoke;
    --button-primary--buttonborder: #146d6c;
    --button-primary--buttonbackgroundhover: #014140;
    --button-primary--buttontexthover: whitesmoke;
    --button-primary--buttonborderhover: #146d6c;
    --button-secondary--buttonbackground: #e3e3e3;
    --button-secondary--buttontext: #1e1e1e;
    --button-secondary--buttonborder: #767676;
    --button-secondary--buttonbackgroundhover: #cdcdcd;
    --button-secondary--buttontexthover: #1e1e1e;
    --button-secondary--buttonborderhover: #767676;
    --button-tertiary--buttonbackground: #fff0;
    --button-tertiary--buttontext: #303030;
    --button-tertiary--buttonborder: #fff0;
    --button-tertiary--buttonbackgroundhover: #fff0;
    --button-tertiary--buttontexthover: #303030;
    --button-tertiary--buttonborderhover: #d9d9d9;
    --links--text-color: var(
      --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>
    );
    --links--underline-color: var(
      --black--1000\<deleted\|variable-7aeb2600-40c5-46be-829e-79b309692dd5\>
    );
    --links--color: white;
    --black--5: black;
    --black--4: #7a7a7a;
    --black--3: #a6a6a6;
    --black--2: #e1e1e1;
    --yellow--5: #403911;
    --blue--5: #003642;
    --blue--4: #0082a0;
    --blue--3: #00b4dc;
    --blue--2: #66d2ea;
    --blue--1: #ccf0f8;
    --purple--5: #460095;
    --purple--4: #945ae3;
    --purple--3: #c09dff;
    --purple--2: #d7c0ff;
    --purple--1: #eee2ff;
    --red--5: #4c2011;
    --green--5: #0a3922;
    --green--4: #189258;
    --green--3: #1dbf73;
    --green--2: #77d9ab;
    --green--1: #d2f2e3;
    --pink--5: #47264c;
    --pink--4: #ab5cb6;
    --pink--3: #eb80fd;
    --pink--2: #f3b3fe;
    --pink--1: #fce6ff;
    --red--4: #bc522f;
    --red--3: #ff643b;
    --red--2: #fea689;
    --red--1: #ffe1d8;
    --yellow--4: #99872a;
    --yellow--3: #d8c833;
    --yellow--2: #e7d88a;
    --yellow--1: #f7f2d8;
  }

  .text-small {
    font-size: var(
      --typography--p-s-m\<deleted\|variable-a30b2a9a-da9d-0031-da5b-1e5a078c4b66\>
    );
    line-height: var(
      --typography--lineheight-p-s-m\<deleted\|variable-ff046529-69bc-51d6-c289-2d5c9b303e61\>
    );
  }

  .text-medium {
    font-size: var(
      --typography--p-m-m\<deleted\|variable-f46676d2-5001-f9cc-8e4e-3598b4add083\>
    );
    line-height: var(
      --typography--lineheight-p-m-t\<deleted\|variable-d1326a46-e19d-9210-187b-76e6d062cf7a\>
    );
  }

  .text-large {
    font-size: var(
      --typography--p-l-m\<deleted\|variable-c555ad6e-6aab-7ac1-77a1-252ffe07ad56\>
    );
    line-height: var(
      --typography--lineheight-p-l-m\<deleted\|variable-d79e3f5e-e9c1-2ddf-001b-632cdb146091\>
    );
  }
}
